# {{ ansible_managed }}

{% for log in service_logs.logs %}{{ log }} {% endfor %} {
{% if service_logs.missingok | default(False) %}
  missingok
{% endif %}
{% if service_logs.notifempty | default(False) %}
  notifempty
{% endif %}
  {{ service_logs.frequency | default(logrotate_global_frequency) }}
{% if service_logs.create | default(False) %}
  create {{ service_logs.create_mode | default('') }} {{ service_logs.create_owner | default('') }} {{ service_logs.create_group | default('') }}
{% endif %}
  rotate {{ service_logs.rotate | default(logrotate_global_rotate) }}
{% if service_logs.compress | default(False) %}
  compress
{% if service_logs.delaycompress | default(False) %}
  delaycompress
{% endif %}
{% endif %}
{% if service_logs.prerotate | default('') or service_logs.postrotate | default('') %}
{% if service_logs.sharedscripts | default(False) %}
  sharedscripts
{% endif %}
{% if service_logs.prerotate | default('') %}
  prerotate
    {{ service_logs.prerotate }}
  endscript
{% endif %}
{% if service_logs.postrotate | default('') %}
  postrotate
    {{ service_logs.postrotate }}
  endscript
{% endif %}
{% endif %}
{% if service_logs.extra_config | default([]) %}
{% for extra_config in service_logs.extra_config %}
  {{ extra_config }}
{% endfor %}
{% endif %}
}
